g.container {

}

/*.column {
	background-color: #862cb7;
	height: 50em;
}*/

/*Code taken from https://stackoverflow.com/questions/12770591/easy-way-to-see-the-bootstrap-grid*/
/*.row {
    outline: 1px dotted rgba(0, 0, 0, 0.25);
    
    height: 54em;

}
div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    outline: 1px dotted rgba(0, 0, 0, 0.5);
    height: 100%;

}*/
body
{
    width: 98%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.main {

}
.link {
  stroke: #000000;
}

.node {
  stroke: #000000;
}

div[id="data"] {
	height: 85%;
}

.upload-button{
	align-content: center;
	width: 80%;
	margin: .5em;
}

#main {
	background-color: ;
}
#node-container, #edge-container {
	
}

#graph-container {
	color: #ffffff;
	border-color: : #000000;
}
#graph-settings {
	width: 500;
	border: solid black 2.5px;
	margin-top: 1em;
	display: none;
}
#refresh-button{
	margin: .5em .25em .5em .5em;
	/*float: right;*/

}
#upload-settings-modal-button {
    /*float: right;*/
	margin: .5em .25em .5em .25em;
	

}
#download-graph-button{
	/*float: right;*/
	margin: .5em .5em .5em .25em;
	
}
#download-settings-button{
    margin: .5em .5em .5em .5em;
}

.center {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#login-page form, #signup-page form {
    margin-bottom: 2em;
}

#login-page .checkbox, #signup-page .checkbox {
    font-weight: 400;
}
.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-control:focus {
    z-index: 2;
}
input.top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
input.middle {
    margin-bottom: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
input.bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#messages, #errors {
    display: none;
}

.logout {
    margin-top: 4em;
}